/**
 * Site header
 */
.site-header {
    min-height: 56px;
}

.site-nav {
    width: 160px;
    margin: auto;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 3px solid black;
    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 15px;
        }
    }

}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: 20 0 $spacing-unit 0;
}

.contact-list {
    text-align: center;
    list-style: none;
    margin-left: 0px;
}

/**
 * Page content
 */
.page-content {
    padding: 20px 0px;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    list-style: none;
    max-width: 500px;
    margin:auto;
}

.post-list li {
    font-size: 0px;
}

.lih2 {
    margin-bottom: 0px;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    text-align: center;
}

.main-post-meta {
    text-align: right;
    font-size: $small-font-size;
    display:none;
    color: $grey-color;
    width:30%;
}

.post-link {
    display: inline-block;
    font-size: 24px;
    width: 100%;
}

@media (min-width:400px) {
    .main-post-meta {
        display: inline-block;
    }
    .post-link {
        width:70%;
    }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
